body {
    background-image: url("images/background.jpg");
    background-size: cover;
    overflow-x: hidden;
}

ul { 
    list-style: none;
    display:inline-block;
    width: 120%;
}

#two {
    position: absolute;
    left: 50%;
    top: 0;
}

li input {
    width: 35%;
    margin-top: 100px;
}

li img.chef {
    pointer-events:none;
    margin-bottom: -125px;
    position: relative;
    left: 0;
    top: -105px;
    transition: left 0.2s;
    display: block;
    width: 200px;
    z-index: 2;
}

li img.cake {
    pointer-events:none;
    width: 100px;
    height: 100px;
    position: relative;
    left: 700px;
    top: -155px;
    margin-bottom: -100px;
    margin-top: 0;
}

img.cake {
    position: absolute;
    top: 20%;
    right: 35%;
    height: 500px;
    z-index: 1;
}

#cook1-input {
    accent-color: blue;
}

#cook2-input {
    accent-color: orange;
}

#cook3-input {
    accent-color: green;
}

#cook4-input {
    accent-color: brown;
}

#cook5-input {
    accent-color: violet;
}

#cook6-input {
    accent-color: yellow;
}

#cook7-input {
    accent-color: white;
}

#cook8-input {
    accent-color: pink;
}